$primary-font: 'Lato', sans-serif;

*, *:after, *:before {
  box-sizing: border-box;
}

header {
	margin: 0;
	padding: 0;
	border: 0;
	/* Typography */
	font-family: $primary-font;
}

.wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	padding: 1em 0;
	background-color: white;
}

.headline {
	padding: 0;
	margin: 0;
	/* Typography */
	font-weight: 400;
	color: #000000;
	font-size: 3em;
	text-align: center;
}

.subheader {
	padding: 0;
	margin: 0;
	/* Typography */
	font-weight: 300;
	color: #555555;
	font-size: 1.25em;
	text-align: center;
}

@media all and (max-width: 450px) {
	.wrapper {
		padding: 0.25em;
	}

	.headline {
		font-size: 2em;
	}

	.subheader {
		display: none;
	}
}



// .banner {
// 	/* Typography */
// 	font-family: 'Open Sans';
// 	/* Layout */
// 	margin: 0 auto;
// 	padding: 0;
// 	text-align: center;
// 	background-color: #FFFFFF;
// 	height: 75px;
// 	position: fixed;
// 	// z-index: 1;
// 	// top: 0;
//
// 	h1 {
// 		/* Typography */
// 		font-weight: 600;
// 		color: #000000;
// 		font-size: 3em;
// 		/* Layout */
// 		margin: 0 auto;
// 		// padding-bottom: 0.75em;
// 	}
//
// 	h2 {
// 		/* Typography */
// 		font-weight: 300;
// 		color: #555555;
// 		font-size: 1.25em;
// 		/* Layout */
// 		margin: 0 auto;
// 		padding: 0;
// 	}
// }
//
// .name {
// 	height: 50px;
// 	// position: fixed;
// 	// z-index: 1;
// 	// top: 0;
// 	background-color: #FFFFFF;
// }
