$primary-font: 'Open Sans', sans-serif;

.banner {
	/* Typography */
	font-family: 'Open Sans';
	/* Layout */
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	background-color: #FFFFFF;
	height: 75px;
	position: fixed;
	// z-index: 1;
	// top: 0;

	h1 {
		/* Typography */
		font-weight: 600;
		color: #000000;
		font-size: 3em;
		/* Layout */
		margin: 0 auto;
		// padding-bottom: 0.75em;
	}

	h2 {
		/* Typography */
		font-weight: 300;
		color: #555555;
		font-size: 1.25em;
		/* Layout */
		margin: 0 auto;
		padding: 0;
	}
}

.name {
	height: 50px;
	// position: fixed;
	// z-index: 1;
	// top: 0;
	background-color: #FFFFFF;
}
