html, body {
    margin: 0;
		padding: 0;
		border: 0;
    height: 100%;
    min-height: 100%;
}

a {
	text-decoration: none;
}

body {
}

.layout {
	margin: 0;
	padding: 0;
	// display: flex;
	// flex-flow: column;
	// justify-content: space-between;
	// align-items: stretch;
}

header {
	flex: 0 0 auto;
}

main {
	flex: 1 1 auto;

	display: flex;					// these 3 lines center the main content div VERTICALLY
	flex-flow: column;			// between the header and nav-footer
	justify-content: center;
}

nav {
	flex: 0 0 auto;
	padding-top: 2em;
}

@media all and (max-width: 450px) {
	.layout {
		min-height: 100vh;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-items: stretch;
	}
}

@media all and (max-height: 1024px) and (max-width: 450px) {
	.layout {
		min-height: 100vh;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-items: stretch;
	}
}

@media all and (min-height: 1024px) {		// for very tall screens, align top
	.layout {
		justify-content: flex-start;
		align-items: space-between;
	}
}
