.wrapper {
	width: 100%;
  margin: 0 auto;
  padding-bottom: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	background-color: white;

    .navLink {
        text-decoration: none;
    }

    .navLink:hover {
        color: #000000;
    }
}

@media all and (max-width: 650px) {
	.wrapper	{
		padding-bottom: 0.5em;
		position: fixed;
		bottom: 0;
		// height: 50px;
		z-index: 99999;
	}
}
