.wrapper {
	width: 100%;
  margin: 0 auto;
	// padding: 3em 0 0 0;
  padding-bottom: 1em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	background-color: white;

    .navLink {
        text-decoration: none;
    }

    .navLink:hover {
        color: #000000;
				// font-weight: 700;
				transition-property: color;
				transition-duration: 0.3s;
				transition-timing-function: ease-in;
    }
}

@media all and (max-width: 760px) {
	.wrapper {
		padding: 0.75em 0 0.75em 0;
		// padding-bottom: 0.5em;
		// position: fixed;
		// bottom: 0;
		// height: 50px;
		// z-index: 99999;
		}
}

@media all and (max-width: 450px) {
	.wrapper {

	}
}
