$primary-font: 'Open Sans', sans-serif;

a {
	text-decoration: none;
}

.banner {
	/* Typography */
	font-family: $primary-font;
	/* Layout */
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;

	.bannerH1 {
		/* Typography */
		font-weight: 600;
		color: #000000;
		font-size: 2em;
		/* Layout */
		margin: 0 auto;
		padding: 0;
	}

	.bannerH2 {
		/* Typography */
		font-weight: 300;
		color: #555555;
		font-size: 1.25em;
		/* Layout */
		margin: 0 auto;
		padding: 0;
	}
}
