.wrapper {
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	justify-content: center;
	padding: 0 1em;
}

.imageWrapper {
	flex: 1 0 40%;
}

.textWrapper {
	flex: 1 0 60%;
}

.textWrapper, .imageWrapper {
	padding: 0 1em;
}

.headline {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
	color: #555555;
	line-height: 125%;
	padding: 0;
	margin: 0;
	text-align: center;
}

.mainText {
  font-family: 'Simonetta', cursive;
  font-weight: 300;
	font-size: 1.125em;
	line-height: 125%;
	margin: 0 auto;
	padding: 1em 0;
}

@media all and (max-width: 767px) {
	.wrapper {
		flex-flow: column-reverse;
		align-items: center;
	}

	.textWrapper, .imageWrapper {
		padding: 0 0.75em;
	}
}
