.wrapper {
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	justify-content: center;
	padding: 0 1em;
}

.sketchWrapper {
	flex: 1 0 40%;
}

.contentWrapper {
	flex: 1 0 60%;
	padding: 0 1em;
}

.sketchWrapper img {
	/*padding: 0 0 1em 0;*/
}

.textWrapper {

}

.headline {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.3em;
	color: #555555;
	line-height: 125%;
	padding: 0;
	margin: 0;
	text-align: center;
}

.mainText {
  font-family: 'Simonetta', cursive;
  font-weight: 400;
	font-size: 1.125em;
	line-height: 120%;
	margin: 0 auto;
	padding: 0.5em 0;
}

.iconRow {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	padding-top: 1em;
}

.iconRow .imageWrapper {
	flex: 0 1 50px;
	padding: 0.25em;
}

.bunnyRow {
	margin: 0 auto;
	width: 100%;
	padding: 1.5em 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

/*.bunnyRow div {
	flex: 0 0 30%;
}*/

.bunny {
	flex: 0 0 40%;
}

.iconWrapper {
	flex: 0 0 30%;
	max-width: 84px;
	height: auto;
	padding-left: 2em;
}

.bunnyCaption {
	margin: 0 auto;
	text-align: center;
}

/*.bunnyWrapper {
	width: 100%;

	/*flex: 0 1 50px;
	padding: 0.25em;*/
/*}

.bunnyWrapper img {
	max-height: 150px;
	padding: 0 1em;
}

.iconWrapper {
	max-height: 42px;
}*/*/

@media all and (max-width: 320px) {
	.wrapper {
		flex-flow: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.textWrapper, .sketchWrapper {
		padding: 0 0.75em;
	}
}


@media all and (max-width: 767px) {
	.wrapper {
		flex-flow: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.textWrapper, .sketchWrapper {
		padding: 0 0.75em;
	}
}

@media only screen and (max-height: 768px) and (orientation: landscape) {
	/** {
		outline: red solid 1px;
	}*/

	.sketchWrapper {
		flex: 1 1 40%;
		/*max-width: 400px;*/
	}

	.contentWrapper {
		flex: 1 1 60%;
	}

	.bunny {
		max-width: 175px;
	}
}
