.wrapper {
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: flex-start;
	padding: 0 1em;
}

.sketchWrapper {
	flex: 1 0 40%;
}

.contentWrapper {
	flex: 1 0 60%;
	padding: 0 1em;
}

.secondarySketch {
	display: none;
}

.textWrapper {
	padding: 0;
}

.headline {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.3em;
	color: #555555;
	line-height: 125%;
	padding: 0;
	margin: 0;
	text-align: center;
}

.mainText {
  font-family: 'Simonetta', cursive;
  font-weight: 400;
	font-size: 1.125em;
	line-height: 120%;
	margin: 0 auto;
	padding: 0.5em 0;
}

.iconRow {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	padding-top: 1em;
}

.iconRow .imageWrapper {
	flex: 0 1 50px;
	padding: 0.25em;
}

.bunnyRow {
	margin: 0 auto;
	width: 100%;
	padding: 1.5em 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.bunny {
	flex: 0 0 50%;
}

.iconWrapper {
	flex: 0 0 50%;
	max-width: 144px;
	height: auto;
	padding-left: 2em;
}

.bunnyCaption {
	margin: 0 auto;
	text-align: center;
}

.bunnyRow .textWrapper {
	align-self: center;
}

@media only screen and (max-height: 800px) {
	.sketchWrapper {
		flex: 1 0 35%;
	}

	.contentWrapper {
		flex: 1 0 65%;
	}

	.bunny {
		flex: 0 0 30%;
	}

	.mainText {
		font-family: 'Simonetta', cursive;
		font-weight: 400;
		font-size: 1em;
		line-height: 120%;
		margin: 0 auto;
		padding: 0.5em 0;
	}

	.iconRow {
		padding-top: 0.75em;
	}

	.iconRow .imageWrapper {
		flex: 0 1 42px;
		padding: 0.25em;
	}
}

/*ipad pro portrait*/
@media only screen
	and (min-device-width: 1024px)
	and (max-device-width: 1366px)
	and (orientation: portrait) {
		.sketchWrapper {
			flex: 1 0 40%;
		}

		.contentWrapper {
			flex: 1 0 60%;
		}

		.bunny {
			flex: 0 0 35%;
		}
}

/*for landscape ipad*/
@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1024px)
	and (orientation : landscape) {

		.sketchWrapper {
			flex: 1 0 35%;
		}

		.contentWrapper {
			flex: 1 0 65%;
		}

		.bunny {
			flex: 0 0 30%;
		}

		.mainText {
		  font-family: 'Simonetta', cursive;
		  font-weight: 400;
			font-size: 1em;
			line-height: 120%;
			margin: 0 auto;
			padding: 0.5em 0;
		}

		.iconRow .imageWrapper {
			flex: 0 1 42px;
			padding: 0.25em;
		}
}

/*for portrait ipad*/
@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1023px)
	and (orientation : portrait) {
		.mainText {
		  font-family: 'Simonetta', cursive;
		  font-weight: 400;
			font-size: 1em;
			line-height: 125%;
			margin: 0 auto;
			padding: 0.5em 0;
		}

		.secondarySketch {
			display: block;

		}
		.sketchWrapper {
			flex: 1 0 30%;
		}

		.contentWrapper {
			flex: 1 0 70%;
		}

		.bunny {
			flex: 0 0 45%;
		}

		.sketchWrapper img {
			padding-bottom: 1em;
		}

		.iconRow {
			padding: 2em 0;
		}
}

/*small ff*/
@media only screen
	and (max-width: 480px) {
		.wrapper {
			flex-flow: column-reverse;
			justify-content: center;
			align-items: center;
		}

		.contentWrapper, .textWrapper {
			padding: 0;
		}

		.bunny {
			flex: 0 0 45%;
		}

		.bunnyRow {
			flex-flow: wrap-reverse;
		}
}
