/** {
	outline: red solid 1px;
}*/
.wrapper {
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	justify-content: center;
	padding: 0 1em;
}

.imageWrapper {
	flex: 1 0 40%;
}

.textWrapper {
	flex: 1 0 60%;
}

.textWrapper, .imageWrapper {
	padding: 0 1em;
}

.headline {
	font-family: 'Lato', sans-serif;
	font-size: 150%;
	font-weight: 400;
	color: #555555;
	padding: 0;
	margin: 0;
	text-align: center;
}

.mainText {
  font-family: 'Simonetta', sans-serif;
  font-weight: 300;
  padding: 1em;
	margin: 0;
}

.contactLink {
	font-family: 'Lato', sans-serif;
	text-align: left;
}

.contactLink:hover {
	cursor: pointer;
	color: #000000;
	text-shadow: .25px 0px .1px;
	transition-property: text-shadow, color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}

@media all and (max-width: 767px) {
	.wrapper {
		flex-flow: column-reverse;
		align-items: center;
	}
}
