.wrapper {
	margin: 0 auto;
	text-align: center;
	padding: 0.50em 0;
}

.icons {
	margin: 0;
	padding: 0;
	/*font-family: 'Lato', sans-serif;
	font-size: 0.75em;*/
	width: 100%;
	height: auto;
	padding: 0.25em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.imageWrapper {

}

.icons img {
	padding: 0 1em;
	height: 1em;
	width: auto;
	transition: filter .3s ease-in-out;
	filter: grayscale(100%) opacity(50%);
}

.icons img:hover {
	filter: grayscale(0);
}

.copyright {
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	font-size: 0.65em;
	height: 100%;
	color: #777777;
}

.copyright p {
	margin: 0 auto;
	padding: 0;
}

/*small ff*/
@media only screen
	and (max-width: 480px) {
		.icons img {
			padding: 0 0.50em;
			height: 1em;
			width: auto;
		}
	}
