/*$primary-font: 'Lato', sans-serif;
$secondary-font: 'Simonetta', cursive;*/

/**, *:after, *:before {
  box-sizing: border-box;
}*/

header {
	margin: 0;
	padding: 0;
	border: 0;
	/* Typography */
	font-family: 'Lato', sans-serif;
}

.wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	// position: fixed;
	width: 100%;
	padding: 1em 0;

  background : -moz-linear-gradient(50% 0.63% -90deg,rgba(138, 95, 193, 1) 0%,rgba(138, 95, 193, 1) 0%,rgba(159, 123, 203, 1) 2.2%,rgba(183, 157, 214, 1) 5.38%,rgba(202, 183, 223, 1) 8.64%,rgba(216, 202, 230, 1) 11.95%,rgba(224, 213, 234, 1) 15.38%,rgba(227, 217, 235, 1) 19.06%,rgba(228, 218, 235, 1) 19.43%,rgba(240, 235, 244, 1) 28.56%,rgba(249, 246, 250, 1) 39.87%,rgba(254, 253, 254, 1) 55.79%,rgba(255, 255, 255, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(138, 95, 193, 1) 0%, rgba(138, 95, 193, 1) 0%, rgba(159, 123, 203, 1) 2.2%, rgba(183, 157, 214, 1) 5.38%, rgba(202, 183, 223, 1) 8.64%, rgba(216, 202, 230, 1) 11.95%, rgba(224, 213, 234, 1) 15.38%, rgba(227, 217, 235, 1) 19.06%, rgba(228, 218, 235, 1) 19.43%, rgba(240, 235, 244, 1) 28.56%, rgba(249, 246, 250, 1) 39.87%, rgba(254, 253, 254, 1) 55.79%, rgba(255, 255, 255, 1) 100%);
  background : -webkit-gradient(linear,50% 0.63% ,50% 154.21% ,color-stop(0,rgba(138, 95, 193, 1) ),color-stop(0,rgba(138, 95, 193, 1) ),color-stop(0.022,rgba(159, 123, 203, 1) ),color-stop(0.0538,rgba(183, 157, 214, 1) ),color-stop(0.0864,rgba(202, 183, 223, 1) ),color-stop(0.1195,rgba(216, 202, 230, 1) ),color-stop(0.1538,rgba(224, 213, 234, 1) ),color-stop(0.1906,rgba(227, 217, 235, 1) ),color-stop(0.1943,rgba(228, 218, 235, 1) ),color-stop(0.2856,rgba(240, 235, 244, 1) ),color-stop(0.3987,rgba(249, 246, 250, 1) ),color-stop(0.5579,rgba(254, 253, 254, 1) ),color-stop(1,rgba(255, 255, 255, 1) ));
  background : -o-linear-gradient(-90deg, rgba(138, 95, 193, 1) 0%, rgba(138, 95, 193, 1) 0%, rgba(159, 123, 203, 1) 2.2%, rgba(183, 157, 214, 1) 5.38%, rgba(202, 183, 223, 1) 8.64%, rgba(216, 202, 230, 1) 11.95%, rgba(224, 213, 234, 1) 15.38%, rgba(227, 217, 235, 1) 19.06%, rgba(228, 218, 235, 1) 19.43%, rgba(240, 235, 244, 1) 28.56%, rgba(249, 246, 250, 1) 39.87%, rgba(254, 253, 254, 1) 55.79%, rgba(255, 255, 255, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(138, 95, 193, 1) 0%, rgba(138, 95, 193, 1) 0%, rgba(159, 123, 203, 1) 2.2%, rgba(183, 157, 214, 1) 5.38%, rgba(202, 183, 223, 1) 8.64%, rgba(216, 202, 230, 1) 11.95%, rgba(224, 213, 234, 1) 15.38%, rgba(227, 217, 235, 1) 19.06%, rgba(228, 218, 235, 1) 19.43%, rgba(240, 235, 244, 1) 28.56%, rgba(249, 246, 250, 1) 39.87%, rgba(254, 253, 254, 1) 55.79%, rgba(255, 255, 255, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8A5FC1', endColorstr='#FFFFFF' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(138, 95, 193, 1) 0%, rgba(138, 95, 193, 1) 0%, rgba(159, 123, 203, 1) 2.2%, rgba(183, 157, 214, 1) 5.38%, rgba(202, 183, 223, 1) 8.64%, rgba(216, 202, 230, 1) 11.95%, rgba(224, 213, 234, 1) 15.38%, rgba(227, 217, 235, 1) 19.06%, rgba(228, 218, 235, 1) 19.43%, rgba(240, 235, 244, 1) 28.56%, rgba(249, 246, 250, 1) 39.87%, rgba(254, 253, 254, 1) 55.79%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8A5FC1',endColorstr='#FFFFFF' , GradientType=0);

}

.headline {
	padding: 0;
	margin: 0;
	/* Typography */
	font-weight: 400;
	color: #000000;
	font-size: 3em;
	text-align: center;
}

.subheader {
	padding: 0;
	margin: 0;
	/* Typography */
	font-family: 'Simonetta', cursive;
	font-weight: 300;
	color: #555555;
	font-size: 1.25em;
	text-align: center;
}

#one, #three {
	display: none;
}

@media all and (max-width: 450px) {
	.wrapper {
		padding: 0.25em;
	}

	.headline {
		font-size: 2em;
	}

	.subheader {
	 	display: none;
	}
}
