.homeWrapper {
	vertical-align: middle;
	margin: auto;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	max-height: 100%;
}

.imageWrapper {
	/*width: auto;
	height: 100%;*/
}

.imageWrapper img {
	max-width: 100%;
	height: auto;
	max-height: 700px;
}

/*iPhone 4 and other very narrow screens*/
@media only screen
	and (max-device-width: 320px)
	and (max-device-height: 480px) {
		.imageWrapper img {
			width: auto;
			height: 265px;
		}
}

@media only screen and (max-height: 800px) {
	.imageWrapper img {
		height: 450px;
	}
}
/*ipad*/

@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1024px)
	and (orientation : landscape) {
		.imageWrapper img {
			max-height: 475px;
		}
}

/*ipad pro portrait 1024x1366*/
@media only screen
	and (min-device-width: 1024px)
	and (max-device-width: 1366px)
	and (orientation: portrait) {
	.imageWrapper img {
		max-height: 800px;
	}
}
