.homeWrapper {
	// padding-top: 120px;

	height: 100%;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

.container img {
	max-width: 100%;
	height: auto;
	max-height: 600px;
}

.mobileFirst {

}
