.wrapper {
	width: auto;
  margin: 0 auto;
  padding: 0.50em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	background-color: white;
	max-width: 1000px;
}

.wrapper li, a {
	display: inline-block;
	text-align: center;
}

.navLink {
	font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
	padding: 0.5em;
  text-decoration: none;
	/*color: #8146db;*/
	color: purple;
}

.navLink:hover {
  color: #000000;
	text-shadow: .25px 0px .1px;
	transition-property: text-shadow, color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}

.navActive {
	color: #000000;
}

@media only screen and (min-width: 768px) {
	.navLink {
		font-size: 1.25rem;
	}
}
