.wrapper {
	width: 100%;
  margin: 0 auto;
  padding: 0.75em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	background-color: white;
	max-width: 1000px;
}

.wrapper li, a {
	display: inline-block;
	text-align: center;
}

.navLink {
	padding: 1em;
  text-decoration: none;
	color: #8146db;
}

.navLink:hover {
  color: #000000;
	/*font-weight: 700;*/
	text-shadow: .25px 0px .1px;
	transition-property: text-shadow, color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}

.navActive {
	color: #000000;
}
