.wrapper {
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: flex-start;
	padding: 0 1em;
}

.sketchWrapper {
	/*padding: 0;*/
	flex: 1 0 40%;
}

.contentWrapper {
	flex: 1 0 60%;
	padding: 0 1em;
}

/*.contentWrapper, .sketchWrapper {
	padding: 0 1em;
}*/

.headline {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 150%;
	color: #555555;
	padding: 0;
	margin: 0;
	text-align: center;
}

.presslink {
	font-family: 'Lato', sans-serif;
	text-align: left;
}

.presslink:hover {
	color: #000000;
	text-shadow: .25px 0px .1px;
	transition-property: text-shadow, color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}

.gfrWrapper {
	padding: 1em 0;
}

.gfrHeader {

}

.gfrContent {
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: flex-end;
	padding: 1em 0 0 0;
}

.gfrText {
	flex: 0 0 60%;
	align-self: flex-start;
	padding-left: 1em;
}

.bunny {
	flex: 1 0 40%;
	padding: 0 1em 0 0;
}

.gfrPressList {
	width: 100%;
	margin: 0;
	padding: 0;
}

.gfrPressList li {
	padding-top: 0.75em;
	display: block;
	width: auto;
}

@media all and (max-height: 800px) {
	.sketchWrapper {
		flex: 1 0 33%;
	}

	.contentWrapper {
		flex: 1 0 67%;
	}

	.gfrText {
		line-height: 115%;
		flex: 0 0 50%;
	}

	.bunny {
		flex: 0 0 27%;
	}
}

@media all and (max-width: 767px) {
	.wrapper {
		flex-flow: column-reverse;
		align-items: center;
	}

	.bunny {
		flex: auto auto 50px;
		align-self: flex-end;
	}
}

/*for portrait ipad*/
@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1023px)
	and (orientation : portrait) {
		.gfrContent {
			padding-top: 0.75em;
		}

		.gfrPressList li {
			padding-top: 0.65em;
		}
	}

/*small ff*/
@media only screen
	and (max-width: 480px) {
		.wrapper {
			flex-flow: column-reverse;
			justify-content: center;
			align-items: center;
		}

		.contentWrapper, .textWrapper {
			padding: 0;
		}

		.bunny {
			flex: 0 0 45%;
			align-self: flex-end;
		}
	}
