.wrapper {
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	justify-content: center;
	padding: 0 1em;
}

.sketchWrapper {
	flex: 1 0 40%;
}

.contentWrapper {
	flex: 1 0 60%;
}

.contentWrapper, .sketchWrapper {
	padding: 0 1em;
}

.headline {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 150%;
	color: #555555;
	padding: 0;
	margin: 0;
	text-align: center;
}

.gfrHeader {
	font-family: 'Simonetta', cursive;
	font-size: 135%;
	margin: 1.50em 0 0 0;
}

.presslink {
	font-family: 'Lato', sans-serif;
	text-align: left;
}

.presslink:hover {
	color: #000000;
	text-shadow: .25px 0px .1px;
	transition-property: text-shadow, color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}

.gfrWrapper {

}

.gfrContent {
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	padding: 0 1em;
}

.gfrText {
	flex: 1 0 40%;
	align-self: flex-start;
}

.gfrText p {
}

.gfr {
	color: purple;
}

.bunny {
	transform: scaleX(-1);
 	filter: FlipH;
	flex: 1 0 60%;
}

@media all and (max-width: 767px) {
	.wrapper {
		flex-flow: column-reverse;
		align-items: center;
	}

	.contentWrapper, .sketchWrapper {
		padding: 0 0.75em;
	}

	.gfrHeader {
		margin: 1.50em 0 1em 0;
	}

	.gfrContent {
		flex-flow: column-reverse;
		align-items: center;
		padding: 0;
	}
}
