.wrapper {
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	justify-content: center;
	padding: 0 1em;
}

.sketchWrapper {
	flex: 1 0 40%;
}

.contentWrapper {
	flex: 1 0 60%;
}

.contentWrapper, .sketchWrapper {
	padding: 0 1em;
}

.headline {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 150%;
	color: #555555;
	padding: 0;
	margin: 0;
	text-align: center;
}

.presslink {
	font-family: 'Lato', sans-serif;
	text-align: left;
}

.presslink:hover {
	color: #000000;
	text-shadow: .25px 0px .1px;
	transition-property: text-shadow, color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}

.gfrWrapper {
	padding: 1em 0;
}

.gfrHeader {

}

.gfrContent {
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: flex-end;
	padding: 1em 0 0 0;
}

.gfrText {
	flex: 0 0 60%;
	align-self: flex-start;
	padding-left: 1em;
}

.bunny {
	flex: 1 0 40%;
	padding: 0 1em 0 0;
}

.gfrPressList {
	width: 100%;
	margin: 0;
	padding: 0;
}

.gfrPressList li {
	padding-top: 0.75em;
	display: block;
	width: auto;
}

@media all and (max-width: 767px) {
	.wrapper {
		flex-flow: column-reverse;
		align-items: center;
	}

	.contentWrapper, .sketchWrapper {
		padding: 0 0.75em;
	}

	.bunny {
		flex: auto auto 50px;
		align-self: flex-end;
	}
}

@media all and (min-width: 767px) and (max-width: 768px) {
	.sketchWrapper {
		flex: 1 0 48%;
	}

	.contentWrapper {
		flex: 1 0 52%;
	}

	.gfrText {
		line-height: 115%;
		flex: 0 0 50%;
	}

	.bunny {
		flex: 0 0 50%;
	}
}
