@import '../globals.scss';

.myHeader {
	font-family: $primary-font;
	margin: 0;
	padding: 0;

	.myH1 {
		color: #0818ce;
		font-size: 5em;
		background-color: #2cce08;
		margin: 0;
		padding: 0;
	}
}

.myThing {
	color: $primary-color;
	font-size: 1em;
}
